body {
    font-family: 'Verdana', sans-serif;
    font-weight: 500;
}

a{
	color: white;
}


.blue {
	background-color: #1b49a2;
	text-align: center;
	height: 30px;
}
.white{
	background-color: #white;
	text-align: center;
	height: 60px;
}

.logo{
	text-align: right;
}
.header{
	/*background-color: #1b49a2;*/
	background-image: url(image/bg.jpg);
	color: white;
	padding-top: 5px;
	height: 20px;

}
.header-2{
	/*background-color: #1b49a2;*/
	background-image: url(image/bg.jpg);
	color: white;
}
.site-name{
	font-size: 30px;
	font-family: 'Impact', sans-serif;
	font-weight: 800;
}
.fefu-logo{
	padding-right: 10px;
	height: 45px;
}
.lk-logo{
	height: 25px;
}
.lk-logo-Two{
	height: 25px;
}
.lk{
	padding-top: 35px;
	text-decoration-line: underline;
}
.link:hover{
	color: white;
}
.vacancies{
	padding-top: 35px;
}
.employers{
	padding-top: 35px;
}

.bt-1{
	background-color: white;
	color: #1b49a2;
	border: solid 2px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-bottom: 2px;
    border-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.bt-2{
	/*background-color: #1b49a2;*/
	color: white;
	/*border: solid 2px;*/
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*border-bottom: 2px;*/
    /*border-color: #1b49a2;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}
.bt-2:hover{
	/*background-color: white;*/
	color: white;
	/*border-bottom-width: 2px;*/
	/*border-color: white;*/
}
.bt-1:hover{
	color: #1b49a2;
}

.footer-text{
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
}
.search-row{
	padding-top: 10px;
}
.search-icon{
	text-align: left;
	height: 30px;
	background: url(image/search-icon.png) no-repeat right;
	background-size: 18px;
	float: right;
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
	color: black;
}
.search-icon:hover{
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
}
.search-icon:focus{
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
}
.bd{
	/*height: 300px;*/
	/*background-color: gray;*/
	border: solid 1px;
	border-color: gray;
}
.block{
	padding-bottom: 10px;
	padding-top: 10px;
}
.bold{
	font-weight: 800;
	display: inline;
}
.block-line{
	padding-bottom: 5px;
	padding-top: 5px;
}
.text-left{
	text-align: left;
	float: left;
}
.text-right{
	text-align: right;
	float: right;
}
/*-------------------------------------*/
.btnAdd {
	margin:0 auto;
    display:block;
	height: 30px;
	background: url(image/plus-circle.png) no-repeat left;
	background-size: 18px;
	border-width:0px;
	border:none;
	box-shadow: none;
	color: black;
	padding-left: 10px;
}

.btnVcnt{
	height: 30px;
	border-width:0px;
	border:none;
	box-shadow: none;
	color: black;
}
.btnVcntPict{
	height: 30px;
	border-width:0px;
	border:none;
	box-shadow: none;
	color: black;
	background: url(image/edit-icon.png) no-repeat left;
	background-size: 18px;

}
.formbt{
	text-align: center;
	padding-left: 40%;
	padding-top: 10px;
}


#modal_form {
	width: 800px; 
	height: 600px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 10%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 35%; /* пoлoвинa экрaнa слевa */
	margin-top: -300px;
	margin-left: -200px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 0px 10px;
}

/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
.block-a{
	color: black;
}
.block-a:hover{
	color: black;
}

.bd-pop{
	/*height: 300px;*/
	/*background-color: gray;*/
	border-bottom: dashed 1px;
	border-color: gray;
}
/*Форма авторизации*/
#modal_formTwo {
	width: 250px; 
	height: 280px; /* Рaзмеры дoлжны быть фиксирoвaны */
	/*border-radius: 5px;*/
	/*border: 3px #000 solid;*/
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	/*top: 10%;  oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 65%; /* пoлoвинa экрaнa слевa */
	margin-top: -255px;
	margin-left: 90px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 0px 10px;
}
#overlayTwo {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
.authorization-plchldr{
	text-align: left;
	height: 30px;
	float: right;
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
	color: black;
	padding-left: 0px;
	padding-top: 30px;
}
.authorization-plchldr:hover{
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
}
.authorization-plchldr:focus{
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
}
.authorization-block{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.authorization-btn{
	height: 25px;
	color: black;
	width: 100px;
	text-decoration: underline;
}
.authorization-block-inside{
	text-align: center;
}
.authorization-block-inside-two{
	text-align: center;
	padding-top: 20px;
}
.authorization-rgstrtn{
	text-decoration: underline;
	color: black;
}
.authorization-rgstrtn:hover{
	color: black;
}

/*Выбор года*/
.year-choice{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

/*Блок с ссылками*/
.link-block{
	padding-top: 10px;
	height: 420px;
}
.link-employers{
	text-decoration: underline;
	color: blue;

}
/*Регистрация*/
.reg-name{
	padding-top: 20px;
	text-align: center;
	font-weight: 600;
}
.registration-plchldr{
	/*text-align: left;
	height: 30px;
	width: 25%;
	float: left;*/
	padding-left: 50px;
	height: 12px;
	font-size: 12px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 25%;
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
	color: black;
	padding-left: 0px;
}
.registration-plchldr:hover{
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
}
.registration-plchldr:focus{
	border-width:0px;
	border:none;
	box-shadow: none;
	border-bottom: solid 1px;
}
.registration-block-line{
	padding-left: 30px;
}
.line-stroke{
	border-bottom: dashed 2px;
	border-color: black;
}
.registration-btn{
	height: 25px;
	color: black;
	width: 150px;
	text-decoration: underline;
}

/*Приказы*/
.line-solid{
	border-bottom: solid 1px;
	border-color: black;
	padding-top: 10px;
}

.pdng{
	padding-top: 10px;
	padding-bottom: 50px;
}
.fnt{
	font-size: 10px;
	border: 1px solid black;
}
th,tr,thead,td{
	font-size: 10px;
	border: 1px solid black;
	background-color: white;
}

/*Личный кабинет*/
.tabs-right{
	text-align: right;
	float: right;
	padding-right: 25%;
}
.tabs-left{
	padding-left: 25%;
}
.tabs-title{
	color: black;
	border-width:0px;
	border:none;
	box-shadow: none;
	background-color: white;
}
.tbl{
	width: 100%;
}
.white-color{
	border: none;
}
.link-table{
	border-bottom: solid 1px;
	border-color: black;
	color: black;
}
.link-table:hover{
	border-bottom: solid 1px;
	border-color: black;
	color: black;
}
.block-dan{
	padding-left: 20px;
}
.pssw-solid{
	border-bottom: solid 1px;
	border-color: black;
}
.edt-icon{
	height: 15px;
	width: 15px;
}
.link-table-two{
	border-bottom: solid 1px;
	border-color: blue;
	color: blue;
}
.link-table-two:hover{
	border-bottom: solid 1px;
	border-color: blue;
	color: blue;
}
.link{
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}


@media screen and (min-width: 0em) and (max-width: 40em) {
    .link{
    	font-size: 12px;
    }
    .link-lk{
    	font-size: 6px;
    }
    .lk-logo{
    	height: 16px;
    }
    .lk-logo-Two{
    	height: 7px;
    }
}